.helper {
    /* width: 1512px; */
    background: #314C51;
    /* padding-bottom: 77px; */
    padding-bottom: calc(92px + (77 - 92) * ((100vw - 390px) / (1512 - 390)));
}
.helper__img-out {
    width: 346px;
    height: 401px;
    left: 1034px;
    top: 132px;
}
.helper__content {
    padding-top: calc(72px + (88 - 72) * ((100vw - 390px) / (1512 - 390)));
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    column-gap: 48px;
	row-gap: 63px;
	grid-template-rows: 45px 63px auto;
	grid-template-columns: auto 577px;
	grid-template-areas: 
		'helper-img . '
        'helper-img helper-title '
        'helper-img  helper-info ';
    
}
.helper__img {
    grid-area: helper-img;
    width: calc(320px + (576 - 320) * ((100vw - 390px) / (1512 - 390)));
    height: calc(258px + (464 - 258) * ((100vw - 390px) / (1512 - 390)));
    /* margin-right: 48px; */
    /* padding-top: calc(72px + (88 - 72) * ((100vw - 488px) / (1512 - 488))); */
    border-radius: calc(45px + (122 - 45) * ((100vw - 390px) / (1512 - 390)));
    -webkit-border-radius: calc(45px + (122 - 45) * ((100vw-390px) / (1512-390)));
    -moz-border-radius: calc(45px + (122 - 45) * ((100vw-390px) / (1512-390)));
    -ms-border-radius: calc(45px + (122 - 45) * ((100vw-390px) / (1512-390)));
    -o-border-radius: calc(45px + (122 - 45) * ((100vw-390px) / (1512-390)));
}
.helper__info {
    grid-area: helper-info;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    /* padding-top: 175px; */
    /* padding-top: calc(54px + (175 - 54) * ((100vw - 488px) / (1512 - 488)));; */
}
.title--xs {
    font-size: 36px;
    line-height: 90%;
}
.helper__title {
    grid-area: helper-title;
    font-size: calc(24px + (36 - 24) * ((100vw - 390px) / (1512 - 390)));;
    /* margin-bottom: 65px; */
}
.helper__subtitle {
    margin-bottom: 35px;
}
.helper__contact {}
.helper__mail {
    margin-bottom: 15px;
}
.helper__contact-img {
    width: 10px;
    height: 9px;
}
.helper__link {
    color: #F8F8F8;
}
.helper__tel {
    margin-bottom: 32px;
}
.helper__social {
    width: 131px;
}