.history {
    background: #F8F8F8;
    /* width: 1512px; */
    padding-bottom: calc(77px + (231 - 77) * ((100vw - 390px) / (1512 - 390)));;

}
.history__content{
    padding-top: calc(72px + (141 - 72) * ((100vw - 390px) / (1512 - 390)));
    display: grid;
	row-gap: 33px;
	column-gap: 48px;
	grid-template-rows: 58px 21px 50px auto 63px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		'h2 . . '
	    'h3 . . '
	    '. . . '
	    'p1 p2 p3'
	    '. . button';
	/* width: 1512px;
	height: 982px; */
	/* padding: 141px 156px 231px; */
}
.history__title {
    grid-area: h2;
    
}
.history__subtitle {
    grid-area: h3;
}
.history__text {
    /* width: 368px; */
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
}
.history__text--first {
    grid-area: p1;
}
.history__text--second {
    grid-area: p2;
}
.history__text--third {
    grid-area: p3;
}
.history__button {
    grid-area: button;
	width: 154px;
}