.place {
    /* height: 1197px; */
    /* width: 1512px; */
    background: #F8F8F8;
    padding-top: calc(56px + (176 - 56) * ((100vw - 390px) / (1512 - 390)));
    padding-bottom: calc(54px + (238 - 54) * ((100vw - 390px) / (1512 - 390))); 
}
.place__title {
    
    margin-bottom: calc(56px + (85 - 56) * ((100vw - 390px) / (1512 - 390)));
}
.place__content {
    display: flex;
    
}
.place__img {
    width: 729px;
    height: 367px;
    border-radius: 15px;
    margin-right: 72px;
}
.place__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.place__info-list {
   
}
.place__list-item {
    font-weight: 300;
    font-size: calc(16px + (18 - 16) * ((100vw - 390px) / (1512 - 390))); 
    line-height: 120%;
    color: #1D1F1D;
}
.place__list-item:before {
    content: "\00B7";
    margin-right: 10px;
}