.slider {
    /* width: 1512px; */
    background: #F8F8F8;
    /* padding-bottom: 72px; */
    padding-bottom: calc(42px + (72 - 42) * ((100vw - 390px) / (1512 - 390)));;
}
.slider__top {
    max-width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
}
.slider__back-link {
    display: flex;
    align-items: center;    
    cursor: pointer;
}
.slider__top-img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.slider__top-text {
    font-weight: 500;
    font-size: 12px;
    color: #1D1F1D;
}
.slider__content {
    margin-top: calc(55px + (105 - 55) * ((100vw - 390px) / (1512 - 390)));
    /* width: 1193px; */
    /* margin-bottom: 59px; */
    display: grid;
    column-gap: 51px;
	row-gap: 30px;
	grid-template-rows: 66px 470px 29px 51px;
	grid-template-columns: 676px 421px;
	grid-template-areas: 
		'slider-img slider-name '
        'slider-img slider-text '
        'slider-img slider-text '
        '. . '
        'slider-basic slider-basic ';
}
.slider__name {
    grid-area: slider-name;
}
.slider__img {
    
    width: calc(320px + (676 - 320) * ((100vw - 390px) / (1512 - 390)));
    /* width: 57%; */
    /* margin-right: 51px; */
}
.slider__main {
    grid-area: slider-img;
    /* 269
    height: 570px; */
    height: calc(269px + (570 - 269) * ((100vw - 390px) / (1512 - 390)));
    /* width: calc(320px + (676 - 320) * ((100vw - 390px) / (1512 - 390))); */
    /* width: 500px; */
    max-width: 100%;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.slider__line {
    display: flex;
    position: relative;
    left: 0;
}

.slider__prev-img {
    border: 2px solid #DBDBDB;
    width: calc(28px + (60 - 28) * ((100vw - 390px) / (1512 - 390)));
    height: calc(28px + (60 - 28) * ((100vw - 390px) / (1512 - 390)));
    object-fit: cover;
}
.slider__prev-active {
    border: 6px solid #DBDBDB;
}
.slider__prev-img:not(:last-child){
    margin-right: 3px;
}
.slider__img-item{
    
}

.slider__main-img {
    object-fit: cover;
    border: none;
    /* flex-basis: calc(320px + (676 - 320) * ((100vw - 390px) / (1512 - 390))); */
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
}
.slider__arrows {
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider__arrow {
    /* position: absolute;
    top: 50%; */
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.slider__arrow-left {
    padding-left: 20px;
}
.slider__arrow-right {
    padding-right: 20px;
}
.slider__preview {
    /* margin-bottom: 59px; */
}
.slider__basic {
    grid-area: slider-basic;
    display: flex;
    
    
}
.slider__basic-item {
    display: flex;
    align-items: center;
}
.slider__basic-item:not(:last-child){
    margin-right: 71px;
}
.slider__basic-img {
    margin-right: 20px;
    width: 44px;
    height: 51px;
}
.slider__basic-text {
}

.slider__basic-title {
}

.slider__text {
    grid-area: slider-text;
    font-weight: 500;
    font-size: 12px;
    color: #1D1F1D;
    line-height: 1.5;
}

.slider__subtitle {
    margin-bottom: 8px;
}
.slider__cadastral, .slider__status {
    color: #7777;
    line-height: 1.7;
}

.slider__features {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    
}
.slider__main-text {
}
.slider__price {
    font-size: 18px;
    line-height: 1.8;
}
.slider__appeal {
    margin-top: 91px;
    margin-bottom: 29px;
    font-weight: 300;
    font-size: 14px;


}
.slider__appeal-condition {
    font-weight: 500;
}

.slider__button {
    width: calc(189px + (221 - 189) * ((100vw - 390px) / (1512 - 390)));;
}