.team {
    /* width: 1512px; */
    /* height: 982px; */
    background: #314C51;
    padding-top: calc(54px + (141 - 54) * ((100vw - 390px) / (1512 - 390)));
    
    padding-bottom: calc(118px + (278 - 118) * ((100vw - 390px) / (1512 - 390)));
}
.team__img-out {
    
    
    top: calc(100px + (321 - 100) * ((100vw - 390px) / (1512 - 390)));
    left: calc(24px + (306 - 24) * ((100vw - 390px) / (1512 - 390)));
    width: 462px;
    height: 535px;
}
.team__content {
    
    display: grid;
    row-gap: 147px;
	column-gap: 0;
	grid-template-rows: 112px 304px;
	grid-template-columns: 472px 724px;
	grid-template-areas: 
		'team__name . '
	    ' . team__list';
}
.team__name {
    grid-area: team__name;
}
.team__title {
    margin-bottom: 33px;
}
.team__subtitle {

}
.team__list {
    grid-area: team__list;
    list-style: decimal;
    
}
.team__member {
    font-weight: 300;
    font-size: calc(12px + (18 - 12) * ((100vw - 390px) / (1512 - 390)));
    line-height: 120%;
    color: #F8F8F8;
    padding-left: 3px;
   
}
.team__member-name {
    font-size: calc(16px + (18 - 16) * ((100vw - 390px) / (1512 - 390)));;

    font-weight: 700;
    text-transform: uppercase;
    
}